In [1]:
from pandas_datareader import data, wb
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import datetime

In [2]:
df = pd.read_pickle('all_banks')

In [3]:
df.head()

Bank Ticker    BAC                                     C                       \
Stock Info    Open   High    Low  Close    Volume   Open   High    Low  Close
Date
2006-01-03   46.92  47.18  46.15  47.08  16296700  490.0  493.8  481.1  492.9
2006-01-04   47.00  47.24  46.45  46.58  17757900  488.6  491.0  483.5  483.8
2006-01-05   46.58  46.83  46.32  46.64  14970900  484.4  487.8  484.0  486.2
2006-01-06   46.80  46.91  46.35  46.57  12599800  488.8  489.0  482.0  486.2
2006-01-09   46.72  46.97  46.36  46.60  15620000  486.0  487.4  483.0  483.9

Bank Ticker           ...     MS                                  WFC         \
Stock Info    Volume  ...   Open   High    Low  Close   Volume   Open   High
Date                  ...
2006-01-03   1537660  ...  57.17  58.49  56.74  58.31  5377000  31.60  31.98
2006-01-04   1871020  ...  58.70  59.28  58.35  58.35  7977800  31.80  31.82
2006-01-05   1143160  ...  58.55  58.59  58.02  58.51  5778000  31.50  31.56
2006-01-06   1370250  ...  58.77  58.85  58.05  58.57  6889800  31.58  31.78
2006-01-09   1680740  ...  58.63  59.29  58.62  59.19  4144500  31.68  31.82

Bank Ticker
Stock Info     Low  Close    Volume
Date
2006-01-03   31.20  31.90  11016400
2006-01-04   31.36  31.53  10871000
2006-01-05   31.31  31.50  10158000
2006-01-06   31.38  31.68   8403800
2006-01-09   31.56  31.68   5619600

[5 rows x 30 columns]

In [4]:
start=datetime.datetime(2010,1,1)

In [14]:
end= datetime.datetime(2020,6,1)

In [15]:
BAC=data.DataReader("BAC",'yahoo',start,end)
C=data.DataReader("C",'yahoo',start,end)
GS=data.DataReader("GS",'yahoo',start,end)
JPM=data.DataReader("JPM",'yahoo',start,end)
MS=data.DataReader("MS",'yahoo',start,end)
WFC=data.DataReader("WFC",'yahoo',start,end)

In [16]:
BAC

                 High        Low       Open      Close       Volume  Adj Close
Date
2009-12-31  15.240000  15.010000  15.090000  15.060000   94322600.0  13.354501
2010-01-04  15.750000  15.120000  15.240000  15.690000  180845200.0  13.913157
2010-01-05  16.209999  15.700000  15.740000  16.200001  209521300.0  14.365398
2010-01-06  16.540001  16.030001  16.209999  16.389999  205257900.0  14.533883
2010-01-07  17.190001  16.510000  16.680000  16.930000  320868400.0  15.012730
...               ...        ...        ...        ...          ...        ...
2020-05-26  24.600000  23.700001  23.750000  24.280001  119485500.0  24.111843
2020-05-27  26.170000  24.969999  26.070000  25.980000  117672700.0  25.800068
2020-05-28  26.139999  24.790001  26.080000  24.860001   84340800.0  24.687826
2020-05-29  24.910000  24.059999  24.420000  24.120001  113923800.0  23.952951
2020-06-01  24.870001  24.049999  24.280001  24.610001   58375500.0  24.439558

[2621 rows x 6 columns]

In [13]:
#list of icker string

tickers=['BAC','C','GS','JPM','MS','WFC']

In [19]:
# conacatenate ticker to build the datasets
bank_stocks= pd.concat([BAC,C,GS,JPM,MS,WFC], axis=1,keys=tickers)

In [20]:
bank_stocks.head()

                  BAC                                                \
                 High        Low       Open      Close       Volume
Date
2009-12-31  15.240000  15.010000  15.090000  15.060000   94322600.0
2010-01-04  15.750000  15.120000  15.240000  15.690000  180845200.0
2010-01-05  16.209999  15.700000  15.740000  16.200001  209521300.0
2010-01-06  16.540001  16.030001  16.209999  16.389999  205257900.0
2010-01-07  17.190001  16.510000  16.680000  16.930000  320868400.0

                               C                                   ...  \
            Adj Close       High        Low       Open      Close  ...
Date                                                               ...
2009-12-31  13.354501  33.599998  33.099998  33.299999  33.099998  ...
2010-01-04  13.913157  34.099998  33.400002  33.599998  34.000000  ...
2010-01-05  14.365398  35.500000  34.099998  34.200001  35.299999  ...
2010-01-06  14.533883  36.799999  35.099998  35.599998  36.400002  ...
2010-01-07  15.012730  37.000000  36.099998  36.900002  36.500000  ...

                   MS                                      WFC             \
                 Open      Close      Volume  Adj Close   High        Low
Date
2009-12-31  29.490000  29.600000   9876900.0  24.667812  27.24  26.690001
2010-01-04  30.700001  30.910000  20371000.0  25.759523  27.48  26.820000
2010-01-05  31.010000  32.040001  22523400.0  26.701244  28.24  27.240000
2010-01-06  31.969999  32.450001  17028500.0  27.042919  28.33  27.790001
2010-01-07  32.459999  32.919998  18693000.0  27.434603  29.43  27.920000


                 Open      Close      Volume  Adj Close
Date
2009-12-31  26.740000  26.990000  28942400.0  20.073318
2010-01-04  27.020000  27.320000  39335700.0  20.318752
2010-01-05  27.270000  28.070000  55416000.0  20.876556
2010-01-06  28.030001  28.110001  33237000.0  20.906300
2010-01-07  28.120001  29.129999  61649000.0  21.664902

[5 rows x 36 columns]

In [23]:
bank_stocks.columns.names=['Bank Ticker','Stock Info']

In [24]:
bank_stocks.head()

Bank Ticker        BAC                                                \
Stock Info        High        Low       Open      Close       Volume
Date
2009-12-31   15.240000  15.010000  15.090000  15.060000   94322600.0
2010-01-04   15.750000  15.120000  15.240000  15.690000  180845200.0
2010-01-05   16.209999  15.700000  15.740000  16.200001  209521300.0
2010-01-06   16.540001  16.030001  16.209999  16.389999  205257900.0
2010-01-07   17.190001  16.510000  16.680000  16.930000  320868400.0

Bank Ticker                     C                                   ...  \
Stock Info   Adj Close       High        Low       Open      Close  ...
Date                                                                ...
2009-12-31   13.354501  33.599998  33.099998  33.299999  33.099998  ...
2010-01-04   13.913157  34.099998  33.400002  33.599998  34.000000  ...
2010-01-05   14.365398  35.500000  34.099998  34.200001  35.299999  ...
2010-01-06   14.533883  36.799999  35.099998  35.599998  36.400002  ...
2010-01-07   15.012730  37.000000  36.099998  36.900002  36.500000  ...

Bank Ticker         MS                                      WFC             \
Stock Info        Open      Close      Volume  Adj Close   High        Low
Date
2009-12-31   29.490000  29.600000   9876900.0  24.667812  27.24  26.690001
2010-01-04   30.700001  30.910000  20371000.0  25.759523  27.48  26.820000
2010-01-05   31.010000  32.040001  22523400.0  26.701244  28.24  27.240000
2010-01-06   31.969999  32.450001  17028500.0  27.042919  28.33  27.790001
2010-01-07   32.459999  32.919998  18693000.0  27.434603  29.43  27.920000

Bank Ticker
Stock Info        Open      Close      Volume  Adj Close
Date
2009-12-31   26.740000  26.990000  28942400.0  20.073318
2010-01-04   27.020000  27.320000  39335700.0  20.318752
2010-01-05   27.270000  28.070000  55416000.0  20.876556
2010-01-06   28.030001  28.110001  33237000.0  20.906300
2010-01-07   28.120001  29.129999  61649000.0  21.664902

[5 rows x 36 columns]